:root {
    --main-color: #2b1712;
    --second-color: #4a2d26;
    --three-color:#361e18;
    --font-color: #ddb66e;
}
@media (max-width: 992px) {
    .header {
        padding: 25px;
    }
    .header .container h4 {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 10px;
    }
    .list {
        position: fixed;
        background-color: var(--three-color);
        bottom: 30px;
        transform: translateX(-50%);
        left: 50%;
        padding: 30px 0;
        border-radius: 50px;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        z-index: 1;
    }
    .list li:not(:last-child) {
        margin-left: 0;
        margin-right: 30px;
    }
    .list li:last-child {
        margin-left: 0;
        margin-right: 20px;
    }
    .list li#active {
        margin-left: 20px;
    }
    .landing {
        padding-top: 70px;
        text-align: center;
    }
    .landing .container {
        display: inline-block;
    }
    .landing .image img {
        width: 70%;
    }
    .landing .text {
        margin-top: 20px;
    }
    .landing .text span {
        margin: 0 auto 0;
    }
    .product {
        text-align: center;
    }
    .bagr {
        padding: 0 10px;
    }
    .product .container{
        display: inline-block;
    }
    .product .text span {
        margin: 0 auto 30px;
    }
    .product .text p {
        margin-bottom: 20px;
    }
    .product .image {
        justify-content: center;
        flex-wrap: wrap;
    }
    .product .image .box {
        padding-left: 5px;
    }
    .history {
        text-align: center;
    }
    .history .container {
        display: inline-block;
        padding: 0 20px;
    } 
    .history .image img {
        width: 70%;
    }
    .history .text {
        margin-left: 0;
        margin-top: 30px;
    }
    .history .text p {
        width: fit-content;
    }
    .steps .container {
        padding-bottom: 100px;
    }   
    .steps .pro  {
        align-items: center;
        justify-content: center;
    }
    .steps .pro .box {
        margin-bottom: 40px;
        margin-left: 0px;
    }
    .special {
        top: 0px;
    }
    .testback {
        padding: 50px 20px;
        text-align: center;
    }
    .test .container {
        display: inline-block;
        text-align: center;
    }
    .test .text p {
        font-size: 40px;
    }
    .test .text h4 {
        margin-bottom: 10px;
    }
    .test .image img {
        width: 90%;
    }
    .end {
        text-align: center;
    }
    .end .endback {
        text-align: center;
    }
    .end .container .singup {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
    .end .container .singup .inp input {
        margin-left: 30px;
    }
    .end .container .singup .inp #su {
        margin-bottom: 20px;
    }
}